[user]
	email = ebensing@rm-dash-r.com
	name = EJ Bensing
[branch]
	autosetuprebase = always
[push]
	default = matching
[alias]
  trim = "!f() { git fetch && git remote prune origin; git branch --merged | grep -v \"^\\*\\|master$\" | xargs -n 1 git branch -d; }; f"
  
